
<md-toolbar  class="app-toolbar-small md-hue-5" style="position: absolute;z-index: 1;">
    <div layout="row">

    </div>
</md-toolbar>

<section layout-gt-sm="row" class="container" flex >

    <div flex="20" flex-xs="100" flex-sm="100" layout-xs="row" layout-sm="row" flex-offset-gt-sm="5" ui-view="sidenav" style="margin-top: 30px;"></div>
    <!--Main Content here-->
    <div flex flex-xs="100" flex-sm="100"  layout-xs="row" layout-sm="row">
                <md-content flex layout-fill >
                    <md-card class="md-whiteframe-z1" style="margin-top: 30px;">
                        <md-toolbar class="site-content-toolbar-with-radius">
                            <div layout="row">
                                <div  flex="100" layout-align="start center">
                                    <h2 class="md-headline" style="padding-left:20px;">
                                        <md-icon md-svg-src="assets/icons/candidates.svg"></md-icon>
                                        Company Settings
                                    </h2>
                                </div>
                            </div>
                        </md-toolbar>
                        <md-divider></md-divider>
                        <md-card-content>
                            Company Settings Inprogress
                        </md-card-content>
                    </md-card>
                </md-content>

    </div>
</section>



